*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Young Serif', serif; */
    background: #F6F6F6;
}
nav{
    width: 1520px;
    height: 76px;
    background: #095899;
}
.eng_logo{
    height: 56px;
    margin: 10px;
    border-radius: 5px;
}
.courses{
    margin: 10px;
}
.co-btn{
    position: relative;
    background-color: #095899;
    padding: 10px;
    width: 97px;
    height: 38px;
    border: none;
    border-radius: 5px;
    left: 938px;
    color: white;
}

.pos{
    background-color:#E5F2FC;
    display: flex;
    margin: 10px;
    border: 0.5px solid #B4B4B4;
    border-radius: 5px;
    padding: 5px;
    display: block;
     
   }

 .po-btn{
    display: block;
    background-color:#E5F2FC ;
    padding: 10px;
    

} 
.pos-btn{
    width: 535px;
    margin: 5px 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    color: #095899;
    text-align: left;
    font-weight: bold;
}
#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .popupContent {
    background: #f0f0f0;
    padding: 39px 1px;
    border-radius: 5px;
    text-align: center;
  }
  
  .closeBtn {
    position: absolute;
    top: 225px;
    right: 429px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
   background-color: transparent;
  }

  .closeBtn:hover{
      
      
      color: #ab350d;
}
  .co{
    display: flex;
    margin: 10px;
    padding: 5px;
    display: block;
   
}
.co-btn-js{
    width: 535px;
    margin: 5px 20px;
    padding: 5px;
   
}

.popupContent p{

     position: relative;
     color: black;
     font-weight: bolder;
     top: -32px;
     left: -216px;
     background-color: transparent;
}
.co-input {

     width: 568px;
     height: 65px;
     background-color: #fff;
    
     /* border-radius: 5px;
     border-color: black ; */
     position: relative;
     top: -22px;
     right: -42px;
}
     


.co-submit {

    position: relative;
    bottom: -45px;
    right: 283px;
    padding: 10px 15px;
    background-color: rgb(86, 148, 84);
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;


}