*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Young Serif', serif; */
    background: #F6F6F6;
}
.direct{
    margin: 10px;
}
nav{
    width: 1536px;
    height: 76px;
    background: #095899;
}
.rec1{
    color: #095899;
    display: inline-block;
    margin: 40px auto;
    width: 497px;
    height: 40px;
    background-color: #E5F2FC;
    border-radius: 5px;
    border: 0.5px solid #BEB4B4;
    justify-content: center;
    align-items: center;
}

.term{
    background-color:#E5F2FC ;
}

h2
{
    display: flex;
    justify-content: center;
}
table,tr,td,th{
    margin: 20px auto;
    /* justify-content: center; */
    align-items: center;
    /* width: 50%; */
    border: 0.5px solid #BEB4B4;
    border-collapse: collapse;
   padding: 10px 20px;

}

th,tr,td{
    width: 315px;
     background-color: white; 
}
th{
    background-color: #E5F2FC;
    color: #095899;
}
.eng_logo{
    height: 56px;
    margin: 10px;
    border-radius: 5px;
}
a
{
    text-decoration: none;
    color: black;
    background: white;
    cursor: pointer;
    
}
.settings {
      
    position: relative;
     height: 20px ;
     height: 32px;
     left: 1487px;
     bottom: 137px;
     background: transparent;
}
.navbar a {
position: relative;
text-decoration: none;
color: #fff;
width: 100px;
left: 995px;
bottom: 52px;
margin: 8px;
background: transparent;
}

.profile{
   display: flex;
   position: relative;
   height: 20px ;
   height: 32px;
   left: 1441px;
   bottom: 104px;
   background: transparent;



}
.username {
 position: relative;
 color: #fff;
 left: 1251px;
 bottom: 77px;
 background: transparent;




}